{% extends 'catalog/base.html' %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'catalog/css/cart_media.css' %}" type="text/css">
<link rel="stylesheet" href="{% static 'catalog/css/cart_style.css' %}" type="text/css">
<div class="container">
    <div class="cart-title">
        <div class="cart-title-main">
            Ваша корзина
        </div>
        <div class="cart-title-total-price">
            <div class="cart-total-product">
                Всего продуктов: {{ cart.total_product }} шт.
            </div>
            <div class="cart-total-price-text">
                Сумма к оплате: {{ cart.total_price }} ₽
            </div>
            <div class="cart-total-price-btn">
                <button class="cart-btn">Оформить заказ</button>
            </div>
        </div>
    </div>
        {% for item in cart.product.all %}
    <div class="cart">
        <div class="cart-image-block">
            <img class="cart-image" src="{{ item.content_object.image.url }}">
        </div>
        <div class="cart-content">
            <div class="cart-content-title">
                {{ item.content_object.title }}
            </div>
            <div class="cart-price">
                <div class="cart-total-price">
                    Цена: <span class="price">{{ item.content_object.price }}</span>
                </div>
                <div class="cart-btn">
                    <span class="minus">-</span>
                    <span class="num">{{ item.content_object.amount }}</span>
                    <span class="plus">-</span>
                </div>
            </div>
        </div>
    </div>
{% endfor %}
</div>
<script type="text/javascript" src="{% static 'catalog/js/cart.js' %}"></script>
{% endblock %}