{% extends 'catalog/base.html' %}
{% block content %}
{% load static %}

<link rel="stylesheet" href="{% static 'catalog/css/order_media.css' %}" type="text/css">
<link rel="stylesheet" href="{% static 'catalog/css/order_style.css' %}" type="text/css">
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<div class="container">
    <div class="cart-title">
        <div class="cart-title-main">
            Оформление заказа
        </div>
    </div>
{% for item in cart.product.all %}
    <div class="cart">
        <div class="cart-image-block">
            <img class="cart-image" src="{{ item.content_object.image.url }}">
        </div>
        <div class="cart-content">
            <div class="cart-content-title">
                {{ item.content_object.title }}
            </div>
            <div class="cart-price">
                <div class="cart-total-price">
                    Цена: <span class="price">{{ item.total_price }}</span>
                </div>
                <div>
                    Количество: {{ item.amount }}
                </div>
            </div>
        </div>
    </div>
{% endfor %}
    <form action="{% url 'make_order' %}" method="POST">
        {% csrf_token %}
    <main>
        <div class="register-form-conteiner">
            {% for f in form %}
            <div class="form-fields">
                <div class="form-field">
                    {{ f }}
                </div>
                {% endfor %}

            </div>
            <div class="form-buttons">
                <button type="submit" class="button">Заказать</button>
            </div>
        </div>
        </main>
    </form>
    </div>

{% endblock content %}