{% extends 'catalog/base.html' %}

{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'catalog/css/product_category.css' %}" type="text/css">

<div class="conteiner">
        <div class="sidebar">
            <div class="sidebar-inner">
                <div class="sidebar-title">
                    {{ category.title }}
                </div>
                {% for type in product_type %}
                <ul class="sidebar-menu">
                    {% if category_type == type %}
                    <li class="sidebar-menu-active-item"><p class="sidebar-menu-active-link">{{ type }}</p></li>
                    {% else %}
                    <li class="sidebar-menu-item"><a class="sidebar-menu-link" href="{% url 'type_products' ct_model=category.slug type=type %}">{{ type }}</a></li>
                    {% endif %}
                {% endfor %}
                </ul>
            </div>

        </div>
        {% for product, cart_product in products.items %}
        <div class="content">
            <div class="content-inner">
                <div class="cart">
                    <div class="cart-img-box">
                        <img class='cart-img' src="{{ product.image.url }}">
                    </div>
                    <div class="cart-title">
                        {{ product.title }}
                    </div>
                    <div class="cart-content">
                        {{ product.description|truncatewords:20 }}
                    </div>
                    <div class="btn-keeper">
                        {% if cart_product in all_cart_products %}
                            <div class="content-btn">
                                <form action="{% url 'change_amount' ct_model=product.get_model_name slug=product.slug %}" method="POST">
                                    {% csrf_token %}
                                    <div class="quantity_inner">
                                        <button type="submit" class="bt_minus">
                                            <svg viewBox="0 0 24 24" class="feather feather-minus"><line x1="5" y1="12" x2="19" y2="12"></line></svg>
                                        </button>
                                        <input type="text" name="amount" value="{{ cart_product.amount }}" size="2" class="quantity" data-max-count="20" />
                                        <button type="submit" class="bt_plus">
                                            <svg viewBox="0 0 24 24" class="feather feather-plus"><line x1="12" y1="5" x2="12" y2="19"></line><line x1="5" y1="12" x2="19" y2="12"></line></svg>
                                        </button>
                                    </div>
                                </form>
                            </div>
                        {% else %}
                        <div class="content-btn"><a class="btn" href="{% url 'add_to_cart' ct_model=product.get_model_name slug=product.slug %}">+{{product.price}}₽</a></div>
                        {% endif %}
                        <div class="content-btn"><a class="btn" href="{% url 'product_detail' ct_model=product.get_model_name slug=product.slug %}">Подробнее</a></div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
<script type="text/javascript" src="{% static 'catalog/js/cart.js' %}"></script>
{% endblock %}